<ion-header>
  <ion-navbar>
    <ion-title>
     Track Delivery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	
	<!-- <div #map id="map"></div>   -->
     <div id="map_canvas"></div>   
    <ion-grid style="height:30%">
    
        <ion-row>
          <ion-col col-2>
              <ion-icon name="ios-checkmark-circle" style="
               color: rgb(91, 120, 207);
    text-align: center;
    display: block;
    font-size: 2.2em;"></ion-icon>
            </ion-col>
            <ion-col col-10>
              <p style="margin:0px;font-size: 12px;
              font-weight: 500;color:rgb(91, 120, 207)">LIVE STATUS</p>
              <p style="margin:0px;
              font-size: 18px;font-weight: 600">Your order is on the way!</p>
              </ion-col>
          </ion-row>
      <ion-row>
        <ion-col col-2>
          <img src="assets/imgs/driver.jpg" style="margin: auto;
          display: block;
          border-radius: 50%;
          height: 50px;
    width: 50px;">
          </ion-col>
          <ion-col col-10>
              <p style="margin:0px;font-size: 16px;
              font-weight: 500;color:rgb(91, 120, 207)">GANESH GUPTHA</p>
              <p style="margin:0px;color:gray;
              font-size: 12px;font-weight: 600">Ganesh can speak Hindi, Kannada,Englih,
              and Tamil. He is From Bengaluru. He has completed his 12th class!</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <button ion-button style="width:50%;border-radius:50px;height: 50px;
            left:25%;top:10px;background: rgb(9, 134, 9)">
                <ion-icon slot="start" name="ios-call"
                style="right: 15px;
                font-size: 1.6em;;
                position:relative"></ion-icon>
                CALL GANESH
              </button>
          </ion-row>
      </ion-grid> 
  </ion-content>