.ios, .md {

    page-home {

      .scroll {
        height: 100%
      }

      #map_canvas {
        width: 100%;
        height: 70%;
      }
      #map {
        width: 100%;
        height: 70%;
      }



    }

}
